<!DOCTYPE html>
<html>
  <head>
    <!--[if gte mso 9]>
    <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="x-apple-disable-message-reformatting" />
      <!--[if !mso]><!-->
      <link href="https://fonts.googleapis.com/css?family=Kreon:400,700|Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i" rel="stylesheet" />
      <!--<![endif]-->
    <title>Esqueci a senha</title>
    <!--[if gte mso 9]>
    <style type="text/css" media="all">
      sup { font-size: 100% !important; }
    </style>
    <![endif]-->
    

    <style type="text/css" media="screen">
      /* Linked Styles */
      body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important;     background: linear-gradient(87deg, #d25d1c 0, #943500 100%); -webkit-text-size-adjust:none }
      a { color:#000001; text-decoration:none }
      p { padding:0 !important; margin:0 !important } 
      img { -ms-interpolation-mode: bicubic;}
      .mcnPreviewText { display: none !important; }
      .text-footer2 a { color: #ffffff; } 
      
      /* Mobile styles */
      @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
        .mobile-shell { width: 100% !important; min-width: 100% !important; }
        
        .m-center { text-align: center !important; }
        .m-left { text-align: left !important; margin-right: auto !important; }
        
        .center { margin: 0 auto !important; }
        .content2 { padding: 8px 15px 12px !important; }
        .t-left { float: left !important; margin-right: 30px !important; }
        .t-left-2  { float: left !important; }
        
        .td { width: 100% !important; min-width: 100% !important; }

        .content { padding: 30px 15px !important; }
        .section { padding: 30px 15px 0px !important; }

        .m-br-15 { height: 15px !important; }
        .mpb5 { padding-bottom: 5px !important; }
        .mpb15 { padding-bottom: 15px !important; }
        .mpb20 { padding-bottom: 20px !important; }
        .mpb30 { padding-bottom: 30px !important; }
        .m-padder { padding: 0px 15px !important; }
        .m-padder2 { padding-left: 15px !important; padding-right: 15px !important; }
        .p70 { padding: 30px 0px !important; }
        .pt70 { padding-top: 30px !important; }
        .p0-15 { padding: 0px 15px !important; }
        .p30-15 { padding: 30px 15px !important; }			
        .p30-15-0 { padding: 30px 15px 0px 15px !important; }			
        .p0-15-30 { padding: 0px 15px 30px 15px !important; }			


        .text-footer { text-align: center !important; }

        .m-td,
        .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }

        .m-block { display: block !important; }

        .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

        .column,
        .column-dir,
        .column-top,
        .column-empty,
        .column-top-30,
        .column-top-60,
        .column-empty2,
        .column-bottom { float: left !important; width: 100% !important; display: block !important; }

        .column-empty { padding-bottom: 15px !important; }
        .column-empty2 { padding-bottom: 30px !important; }

        .content-spacing { width: 15px !important; }
      }
    </style>
  </head>
  <body class="body">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tr>
        <td align="center" valign="top">
          <!-- Main -->
          <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
            <tr>
              <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                <!-- Body -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:white;margin-bottom:-75px;">
                  <tr>
                    <td align="center" class="p30-15">
                      <!-- titulo -->
                      <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;margin-bottom:15px;margin-top: 32px;">
                        <tr>
                          <th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="text-footer"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;">
                                  <multiline>
                                    <strong style="font-size: 17pt;color: #eb6a23;">Olá, <%= name %></strong><br />
                                  </multiline>
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>

                      <!-- texto -->
                      <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;margin-bottom: 70px;">
                        <tr>
                          <th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="text-footer"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:center;">
                                  <multiline style="color: #cc5717;text-decoration:none;font-size: 14pt;">
                                    <span class="link-grey">Sua conta foi criada com sucesso!</span>
                                  </multiline>
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>